@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@500&display=swap');
/*Main global layout*/
main {
    flex: 1 0 auto;
}

body {
    background-color: #efefef;
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
}

/* Headers and navbar*/
h1 {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    height: 56px;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
}

.navbar-brand:hover {
    color: #000;
}

header, .footer {
    background-image: linear-gradient(to right, #d0b3b7, #985d65, #d0b3b7);
}

header a {
    color: black;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: #000;
}
.nav-link:hover {
    background-color: #985d65;
    color: #fff;
}

.home-team {
    float: left;
}

.home-team-score {
    float: right;
}

.away-team {
    float: right;
}

.away-team-score {
    float: left;
}

